/* style.css */

#app-title {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a2a2a; /* Dark gray color */
    -fx-font-family: "Comic Sans MS";
    -fx-padding: 10px;
    -fx-alignment: center;
}

.section-label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
    -fx-font-size: 14px;       
    -fx-padding: 6 12;           
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, transparent, 0, 0, 0, 0);
    -fx-transition: all 0.2s ease-in-out;
}

.button:hover {
    -fx-background-color: #1e63d1;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
}

.list-view {
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

.combo-box {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}


